/Bomb.class
/ColorCreator.class
/ColorsAbstractFactory.class
/DefaultColorCreator.class
/DefaultWallCreator.class
/DestructiveWall.class
/Grass.class
/IndistructableWall.class
/Location.class
/ObjectColor.class
/Player.class
/RedColorFactory.class
/WallCreator.class
/WallObject.class
/YellowColorFactory.class
/PowerUp.class
/PowerUpAlgorithm.class
/Fruit.class
/ICommand.class
/Invoker.class
/PlaceBombCommand.class
/explodeCommand.class
/SpeedPoition.class
